<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/public/assets/css/style.css" type="text/css" />
		<title>Eat those burgers!!</title>

	</head>


	<body>
        {{!-- <img src="https://github.com/cgconverse/Burger/blob/main/public/images/bobs-burgers.jpg?raw=true" alt="bobs-burgers" />  --}}

		{{{ body }}}
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burgers.js"></script>
	</body>
</html>