body {
    background-image: url("https://github.com/cgconverse/Burger/blob/main/public/images/bobs-burgers.jpg?raw=true");
    background-color: powderblue;
}

.container {
  float: right;
}

li {
    padding: 5px;
    margin: 5px;
}
  
  .label {
    font-weight: bold;
  }
  
  .create-update-form {
    padding: 5px;
    margin: 5px;
    background: aqua;
  }
  
  .form-group {
    margin-bottom: 5px;
  }